:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  padding: 0 5px;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  margin-bottom: 5px;
}

h4 {
  font-size: 48px;
}
h4.contact-me {
  margin-top: 30px;
  text-align: center;
}
h2 {
  font-size: 24px;
  opacity: 0.7;
}
.h1-about,
.h2-about {
  text-align: left;
}
.logo {
  max-width: 45px;
}
a.active {
  font-weight: 600;
}
a.active,
a.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2.5px;
}
#top {
  text-align: center;
}
.hero-index {
  padding: 100px 0 10px;
  background: var(--secondary-color);
}
.hero-about {
  padding-top: 100px;
}
.about-p {
  margin: 30px 0;
  line-height: 1.618;
  font-size: 16px;
}
.navigation-links {
  display: flex;
  margin: 40px 0;
  justify-content: center;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact-btn {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  transition: all 0.15s ease-in-out;
}
.contact-btn:hover,
.launch-btn:hover {
  color: black;
}
.about-btn {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.15s ease-in-out;
}
.about-btn:hover {
  color: white;
  background: var(--primary-color);
}
.launch-btn {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
.view-work-btn {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
.view-work-btn:hover {
  color: white;
  background: var(--primary-color);
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.copyright {
  text-align: center;
  font-size: 13px;
  opacity: 80%;
}

@media (max-width: 767px) {
  .h1-about,
  .h2-about,
  .col-about-desc {
    text-align: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 1190px) {
  h1 {
    font-size: 66px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 20px;
    padding-top: 10px;
  }
  h3 {
    text-align: center;
  }
  h4 {
    text-align: center;
    font-size: 30px;
  }
  .navigation-links {
    margin: 10px 0;
  }
  .launch-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .app-img {
    display: none;
  }
  .p-desc {
    text-align: center;
  }
}
